<template>
  <q-page class="flex flex-center">
    <div v-show="false">
      <h1>Speech synthesiser</h1>

      <p>Enter some text in the input below and press return to hear it. change voices using the dropdown menu.</p>

      <form>
        <input type="text" class="txt">
        <div>
          <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
          <div class="rate-value">1</div>
          <div class="clearfix"></div>
        </div>
        <div>
          <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
          <div class="pitch-value">1</div>
          <div class="clearfix"></div>
        </div>
        <select>

        </select>
      </form>
      <br>
      <q-btn color="white" text-color="black" label="Play"  @click="playText('begin')"/>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  data () {
    return {
      verbs: ['begin', 'began', 'begun'],
      voices: [],
      text: 'begin'
    }
  },
  mounted () {
    this.$router.push({name:'irregular-verbs'})
    this.init()
  },
  methods: {
    init () {
      this.populateVoiceList();

    },
    play () {
      var synth = window.speechSynthesis;
      var pitch = document.querySelector('#pitch');
      var rate = document.querySelector('#rate');
      var inputTxt = document.querySelector('.txt');

      var voiceSelect = document.querySelector('select');
      var utterThis = new SpeechSynthesisUtterance(inputTxt.value);
      var selectedOption = voiceSelect.selectedOptions[0].getAttribute('data-name');
      var i = 0;
      for(i = 0; i < this.voices.length ; i++) {
        if(this.voices[i].name === selectedOption) {
          utterThis.voice = this.voices[i];
        }
      }
      console.log('pitch.value', pitch.value);
      console.log('pitch.rate', rate.value);
      utterThis.pitch = 0.5 // pitch.value;
      utterThis.rate = 1.5 // rate.value;
      synth.speak(utterThis);
    },
    playText (text) {
      var synth = window.speechSynthesis;
      var utterThis = new SpeechSynthesisUtterance(text);
      utterThis.voice = this.getVoice('Alex')
      utterThis.pitch = 0.5 
      utterThis.rate = 1.5
      synth.speak(utterThis);
    },
    getVoice (voiceName) {
      return this.voices.find(voice => {
        return voice.name === voiceName
      })
    },
    populateVoiceList() {
      var synth = window.speechSynthesis;

      var voiceSelect = document.querySelector('select');
      this.voices = synth.getVoices();
      console.log('this.voices', this.voices.length)

      var i = 0;
      for(i = 0; i < this.voices.length ; i++) {
        var option = document.createElement('option');
        option.textContent = this.voices[i].name + ' (' + this.voices[i].lang + ')';

        if(this.voices[i].default) {
          option.textContent += ' -- DEFAULT';
        }

        option.setAttribute('data-lang', this.voices[i].lang);
        option.setAttribute('data-name', this.voices[i].name);
        voiceSelect.appendChild(option);
      }
    }
  }
})
</script>
