<template>
  <div>
    <div class="q-ma-md">
      <div class="row">
        <div class="col-12">
          <q-toggle label="Tense" v-model="showTense" color="green" />

          <q-toggle label="Verb" v-model="showVerb" color="green" />

          <q-toggle label="Spanish" v-model="showEs" color="green" />

          <q-toggle label="Sound" v-model="showSound" color="green" />

          <q-toggle label="Random" v-model="random" color="green" />

					<q-toggle label="Only correct" v-model="correct" color="green" />
        </div>
        <div class="col-12 hidden" align="center">
          <q-btn
            flat
            class="q-ma-sm"
            color="white"
            text-color="black"
            icon="arrow_back_ios"
            @click="prev"
            v-show="currentPos > 0"
          />
          <p @click="prompt">{{ currentPos }} / {{ verbs.length }}</p>
          <q-btn
            flat
            class="q-ma-sm"
            color="white"
            text-color="black"
            icon="arrow_forward_ios"
            @click="next"
          />
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="right">
            <q-btn
              style="top: 40%"
              flat
              class="q-ma-sm"
              color="white"
              text-color="black"
              icon="arrow_back_ios"
              @click="prev"
              v-show="currentPos > 0"
            />
          </div>
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4" align="center">
            <p @click="prompt">{{ currentPos }} / {{ verbs.length }}</p>
            <q-card class="my-card" style="width: 250px">
              <q-card-section align="center">
                <q-img
                  v-show="showSound"
                  alt=""
                  src="~/assets/giphy.gif"
                  :ratio="16 / 9"
                />
                <div class="text-h3" v-show="showAnswer || showVerb">
                  {{ current.verb }}
                </div>
                <div class="text-h5" v-show="showAnswer || showEs">
                  {{ current.es }}
                </div>
                <div
                  style="margin: 0px !important"
                  v-show="showAnswer || showTense"
                  class="text-align-center text-simple"
                >
                  {{ current.tense }}
                </div>
              </q-card-section>

              <q-separator />

              <q-card-actions align="center">
                <div class="row">
                  <div class="col-12" align="center">
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="showAnswer = !showAnswer"
                      icon="visibility"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current.sentence, 1)"
                      icon="record_voice_over"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current.verb, 0.5)"
                      icon="volume_down"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current.verb, 1)"
                      icon="volume_up"
                    >
                    </q-btn>
                  </div>
                </div>
              </q-card-actions>
            </q-card>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="left">
            <q-btn
              style="top: 40%"
              flat
              class="q-ma-sm"
              color="white"
              text-color="black"
              icon="arrow_forward_ios"
              @click="next"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12" align="center">
            <q-input
              rounded
              outlined
              bg-color="blue-1"
              class="q-ma-md"
              type="text"
              label="Answer"
              ref="txtAnswer"
              v-model="answer"
              v-on:keyup.enter="validate"
              autofocus
              style="text-align: center !important"
            />
            <q-btn
              class="q-ma-sm"
              color="primary"
              label="Check"
              @click="validate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "PageVerbs",
  data() {
    return {
      verbsAll: [
        {
          es: "surgir",
          verb: "arise",
          no: "1",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "surgir",
          verb: "arose",
          no: "1",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "surgir",
          verb: "arisen",
          no: "1",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "ser",
          verb: "be",
          no: "2",
          tense: "infinitive",
          sentence: "She'll be at the party next weekend.",
        },
        {
          es: "ser",
          verb: "was",
          no: "2",
          tense: "pastsimple",
          sentence: "Tom was in New York yesterday.",
        },
        {
          es: "ser",
          verb: "been",
          no: "2",
          tense: "pastparticipe",
          sentence: "Tom was in New York yesterday.",
        },
        {
          es: "golpear",
          verb: "beat",
          no: "3",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "beat",
          no: "3",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "beaten",
          no: "3",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "convertirse",
          verb: "become",
          no: "4",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "convertirse",
          verb: "became",
          no: "4",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "convertirse",
          verb: "become",
          no: "4",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "comenzar",
          verb: "begin",
          no: "5",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "comenzar",
          verb: "began",
          no: "5",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "comenzar",
          verb: "begun",
          no: "5",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "apostar",
          verb: "bet",
          no: "6",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "apostar",
          verb: "bet",
          no: "6",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "apostar",
          verb: "bet",
          no: "6",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "morder",
          verb: "bite",
          no: "7",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "morder",
          verb: "bit",
          no: "7",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "morder",
          verb: "bitten",
          no: "7",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "sangrar",
          verb: "bleed",
          no: "8",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "sangrar",
          verb: "bled",
          no: "8",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "sangrar",
          verb: "bled",
          no: "8",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "soplar",
          verb: "blow",
          no: "9",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "soplar",
          verb: "blew",
          no: "9",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "soplar",
          verb: "blown",
          no: "9",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "romper",
          verb: "break",
          no: "10",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "romper",
          verb: "broke",
          no: "10",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "romper",
          verb: "broken",
          no: "10",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "traer",
          verb: "bring",
          no: "11",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "traer",
          verb: "brought",
          no: "11",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "traer",
          verb: "brought",
          no: "11",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "construir",
          verb: "build",
          no: "12",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "construir",
          verb: "built",
          no: "12",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "construir",
          verb: "built",
          no: "12",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "comprar",
          verb: "buy",
          no: "13",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "comprar",
          verb: "bought",
          no: "13",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "comprar",
          verb: "bought",
          no: "13",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "atrapar",
          verb: "catch",
          no: "14",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "atrapar",
          verb: "caught",
          no: "14",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "atrapar",
          verb: "caught",
          no: "14",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "elegir",
          verb: "choose",
          no: "15",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "elegir",
          verb: "chose",
          no: "15",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "elegir",
          verb: "chosen",
          no: "15",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "venir",
          verb: "come",
          no: "16",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "venir",
          verb: "came",
          no: "16",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "venir",
          verb: "come",
          no: "16",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "costar",
          verb: "cost",
          no: "17",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "costar",
          verb: "cost",
          no: "17",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "costar",
          verb: "cost",
          no: "17",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "arrastrarse",
          verb: "creep",
          no: "18",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "arrastrarse",
          verb: "crept",
          no: "18",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "arrastrarse",
          verb: "crept",
          no: "18",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "cortar",
          verb: "cut",
          no: "19",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "cortar",
          verb: "cut",
          no: "19",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "cortar",
          verb: "cut",
          no: "19",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dar, repartir",
          verb: "deal",
          no: "20",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dar, repartir",
          verb: "dealt",
          no: "20",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dar, repartir",
          verb: "dealt",
          no: "20",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "do",
          no: "21",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "did",
          no: "21",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "done",
          no: "21",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dibujar",
          verb: "draw",
          no: "22",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dibujar",
          verb: "drew",
          no: "22",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dibujar",
          verb: "drawn",
          no: "22",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "soñar",
          verb: "dream",
          no: "23",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "soñar",
          verb: "dreamt",
          no: "23",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "soñar",
          verb: "dreamt",
          no: "23",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "beber",
          verb: "drink",
          no: "24",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "beber",
          verb: "drank",
          no: "24",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "beber",
          verb: "drunk",
          no: "24",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "conducir",
          verb: "drive",
          no: "25",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "conducir",
          verb: "drove",
          no: "25",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "conducir",
          verb: "driven",
          no: "25",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "comer",
          verb: "eat",
          no: "26",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "comer",
          verb: "ate",
          no: "26",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "comer",
          verb: "eaten",
          no: "26",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "caer",
          verb: "fall",
          no: "27",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "caer",
          verb: "fell",
          no: "27",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "caer",
          verb: "fallen",
          no: "27",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "alimentar",
          verb: "feed",
          no: "28",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "alimentar",
          verb: "fed",
          no: "28",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "alimentar",
          verb: "fed",
          no: "28",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "sentir",
          verb: "feel",
          no: "29",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "sentir",
          verb: "felt",
          no: "29",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "sentir",
          verb: "felt",
          no: "29",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "pelear",
          verb: "fight",
          no: "30",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "pelear",
          verb: "fought",
          no: "30",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "pelear",
          verb: "fought",
          no: "30",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "encontrar",
          verb: "find",
          no: "31",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "encontrar",
          verb: "found",
          no: "31",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "encontrar",
          verb: "found",
          no: "31",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "huir",
          verb: "flee",
          no: "32",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "huir",
          verb: "fled",
          no: "32",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "huir",
          verb: "fled",
          no: "32",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "volar",
          verb: "fly",
          no: "33",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "volar",
          verb: "flew",
          no: "33",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "volar",
          verb: "flown",
          no: "33",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "olvidar",
          verb: "forget",
          no: "34",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "olvidar",
          verb: "forgot",
          no: "34",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "olvidar",
          verb: "forgotten",
          no: "34",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "perdonar",
          verb: "forgive",
          no: "35",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "perdonar",
          verb: "forgave",
          no: "35",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "perdonar",
          verb: "forgiven",
          no: "35",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "forsake",
          no: "36",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "forsook",
          no: "36",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "forsaken",
          no: "36",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "congelar",
          verb: "freeze",
          no: "37",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "congelar",
          verb: "froze",
          no: "37",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "congelar",
          verb: "frozen",
          no: "37",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "tener, obtener",
          verb: "get",
          no: "38",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "tener, obtener",
          verb: "got",
          no: "38",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "tener, obtener",
          verb: "gotten",
          no: "38",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dar",
          verb: "give",
          no: "39",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dar",
          verb: "gave",
          no: "39",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dar",
          verb: "given",
          no: "39",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "ir",
          verb: "go",
          no: "40",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "ir",
          verb: "went",
          no: "40",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "ir",
          verb: "gone",
          no: "40",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "moler",
          verb: "grind",
          no: "41",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "moler",
          verb: "ground",
          no: "41",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "moler",
          verb: "ground",
          no: "41",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "crecer",
          verb: "grow",
          no: "42",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "crecer",
          verb: "grew",
          no: "42",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "crecer",
          verb: "grown",
          no: "42",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "colgar",
          verb: "hang",
          no: "43",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "colgar",
          verb: "hung",
          no: "43",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "colgar",
          verb: "hung",
          no: "43",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "tener",
          verb: "have",
          no: "44",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "tener",
          verb: "had",
          no: "44",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "tener",
          verb: "had",
          no: "44",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "oÃ­r",
          verb: "hear",
          no: "45",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "oÃ­r",
          verb: "heard",
          no: "45",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "oÃ­r",
          verb: "heard",
          no: "45",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "esconderse",
          verb: "hide",
          no: "46",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "esconderse",
          verb: "hid",
          no: "46",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "esconderse",
          verb: "hidden",
          no: "46",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "hit",
          no: "47",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "hit",
          no: "47",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "hit",
          no: "47",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "mantener",
          verb: "hold",
          no: "48",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "mantener",
          verb: "held",
          no: "48",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "mantener",
          verb: "held",
          no: "48",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "herir",
          verb: "hurt",
          no: "49",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "herir",
          verb: "hurt",
          no: "49",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "herir",
          verb: "hurt",
          no: "49",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "guardar",
          verb: "keep",
          no: "50",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "guardar",
          verb: "kept",
          no: "50",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "guardar",
          verb: "kept",
          no: "50",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "arrodillarse",
          verb: "kneel",
          no: "51",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "arrodillarse",
          verb: "knelt",
          no: "51",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "arrodillarse",
          verb: "knelt",
          no: "51",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "saber",
          verb: "know",
          no: "52",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "saber",
          verb: "knew",
          no: "52",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "saber",
          verb: "known",
          no: "52",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "encabezar",
          verb: "lead",
          no: "53",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "encabezar",
          verb: "led",
          no: "53",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "encabezar",
          verb: "led",
          no: "53",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "aprender",
          verb: "learn",
          no: "54",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "aprender",
          verb: "learnt",
          no: "54",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "aprender",
          verb: "learnt",
          no: "54",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "salir",
          verb: "leave",
          no: "55",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "salir",
          verb: "left",
          no: "55",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "salir",
          verb: "left",
          no: "55",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "prestar",
          verb: "lend",
          no: "56",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "prestar",
          verb: "lent",
          no: "56",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "prestar",
          verb: "lent",
          no: "56",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dejar",
          verb: "let",
          no: "57",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dejar",
          verb: "let",
          no: "57",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dejar",
          verb: "let",
          no: "57",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "yacer",
          verb: "lie",
          no: "58",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "yacer",
          verb: "lay",
          no: "58",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "yacer",
          verb: "lain",
          no: "58",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "perder",
          verb: "lose",
          no: "59",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "perder",
          verb: "lost",
          no: "59",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "perder",
          verb: "lost",
          no: "59",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "make",
          no: "60",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "made",
          no: "60",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "hacer",
          verb: "made",
          no: "60",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "significar",
          verb: "mean",
          no: "61",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "significar",
          verb: "meant",
          no: "61",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "significar",
          verb: "meant",
          no: "61",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "conocer",
          verb: "meet",
          no: "62",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "conocer",
          verb: "met",
          no: "62",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "conocer",
          verb: "met",
          no: "62",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "pagar",
          verb: "pay",
          no: "63",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "pagar",
          verb: "paid",
          no: "63",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "pagar",
          verb: "paid",
          no: "63",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "poner",
          verb: "put",
          no: "64",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "poner",
          verb: "put",
          no: "64",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "poner",
          verb: "put",
          no: "64",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "quit",
          no: "65",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "quit",
          no: "65",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "abandonar",
          verb: "quit",
          no: "65",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "leer",
          verb: "read",
          no: "66",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "leer",
          verb: "read",
          no: "66",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "leer",
          verb: "read",
          no: "66",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "montar",
          verb: "ride",
          no: "67",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "montar",
          verb: "rode",
          no: "67",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "montar",
          verb: "ridden",
          no: "67",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "llamar",
          verb: "ring",
          no: "68",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "llamar",
          verb: "rang",
          no: "68",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "llamar",
          verb: "rung",
          no: "68",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "elevar",
          verb: "rise",
          no: "69",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "elevar",
          verb: "rose",
          no: "69",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "elevar",
          verb: "risen",
          no: "69",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "correr",
          verb: "run",
          no: "70",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "correr",
          verb: "ran",
          no: "70",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "correr",
          verb: "run",
          no: "70",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "decir",
          verb: "say",
          no: "71",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "decir",
          verb: "said",
          no: "71",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "decir",
          verb: "said",
          no: "71",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "ver",
          verb: "see",
          no: "72",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "ver",
          verb: "saw",
          no: "72",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "ver",
          verb: "seen",
          no: "72",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "vender",
          verb: "sell",
          no: "73",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "vender",
          verb: "sold",
          no: "73",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "vender",
          verb: "sold",
          no: "73",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "enviar",
          verb: "send",
          no: "74",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "enviar",
          verb: "sent",
          no: "74",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "enviar",
          verb: "sent",
          no: "74",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "fijar",
          verb: "set",
          no: "75",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "fijar",
          verb: "set",
          no: "75",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "fijar",
          verb: "set",
          no: "75",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "coser",
          verb: "sew",
          no: "76",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "coser",
          verb: "sewed",
          no: "76",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "coser",
          verb: "sewn",
          no: "76",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "sacudir",
          verb: "shake",
          no: "77",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "sacudir",
          verb: "shook",
          no: "77",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "sacudir",
          verb: "shaken",
          no: "77",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "brillar",
          verb: "shine",
          no: "78",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "brillar",
          verb: "shone",
          no: "78",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "brillar",
          verb: "shone",
          no: "78",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "disparar",
          verb: "shoot",
          no: "79",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "disparar",
          verb: "shot",
          no: "79",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "disparar",
          verb: "shot",
          no: "79",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "mostrar",
          verb: "show",
          no: "80",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "mostrar",
          verb: "showed",
          no: "80",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "mostrar",
          verb: "shown",
          no: "80",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "encoger",
          verb: "shrink",
          no: "81",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "encoger",
          verb: "shrank",
          no: "81",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "encoger",
          verb: "shrunk",
          no: "81",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "cerrar",
          verb: "shut",
          no: "82",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "cerrar",
          verb: "shut",
          no: "82",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "cerrar",
          verb: "shut",
          no: "82",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "cantar",
          verb: "sing",
          no: "83",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "cantar",
          verb: "sang",
          no: "83",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "cantar",
          verb: "sung",
          no: "83",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "hundir",
          verb: "sink",
          no: "84",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "hundir",
          verb: "sank",
          no: "84",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "hundir",
          verb: "sunk",
          no: "84",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "sentarse",
          verb: "sit",
          no: "85",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "sentarse",
          verb: "sat",
          no: "85",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "sentarse",
          verb: "sat",
          no: "85",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dormir",
          verb: "sleep",
          no: "86",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dormir",
          verb: "slept",
          no: "86",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dormir",
          verb: "slept",
          no: "86",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "deslizar",
          verb: "slide",
          no: "87",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "deslizar",
          verb: "slid",
          no: "87",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "deslizar",
          verb: "slid",
          no: "87",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "sembrar",
          verb: "sow",
          no: "88",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "sembrar",
          verb: "sowed",
          no: "88",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "sembrar",
          verb: "sown",
          no: "88",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "hablar",
          verb: "speak",
          no: "89",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "hablar",
          verb: "spoke",
          no: "89",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "hablar",
          verb: "spoken",
          no: "89",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "deletrear",
          verb: "spel",
          no: "90",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "deletrear",
          verb: "spelt",
          no: "90",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "deletrear",
          verb: "spelt",
          no: "90",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "gastar",
          verb: "spend",
          no: "91",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "gastar",
          verb: "spent",
          no: "91",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "gastar",
          verb: "spent",
          no: "91",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "derramar",
          verb: "spill",
          no: "92",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "derramar",
          verb: "spilt",
          no: "92",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "derramar",
          verb: "spilt",
          no: "92",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "dividir",
          verb: "split",
          no: "93",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "dividir",
          verb: "split",
          no: "93",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "dividir",
          verb: "split",
          no: "93",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "estropear",
          verb: "spoil",
          no: "94",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "estropear",
          verb: "spoilt",
          no: "94",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "estropear",
          verb: "spoilt",
          no: "94",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "extenderse",
          verb: "spread",
          no: "95",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "extenderse",
          verb: "spread",
          no: "95",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "extenderse",
          verb: "spread",
          no: "95",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "estar de pie",
          verb: "stand",
          no: "96",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "estar de pie",
          verb: "stood",
          no: "96",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "estar de pie",
          verb: "stood",
          no: "96",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "robar",
          verb: "steal",
          no: "97",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "robar",
          verb: "stole",
          no: "97",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "robar",
          verb: "stolen",
          no: "97",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "picar",
          verb: "sting",
          no: "98",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "picar",
          verb: "stung",
          no: "98",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "picar",
          verb: "stung",
          no: "98",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "apestar",
          verb: "stink",
          no: "99",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "apestar",
          verb: "stank",
          no: "99",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "apestar",
          verb: "stunk",
          no: "99",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "strike",
          no: "100",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "struck",
          no: "100",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "golpear",
          verb: "struck",
          no: "100",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "jurar",
          verb: "swear",
          no: "101",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "jurar",
          verb: "swore",
          no: "101",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "jurar",
          verb: "sworn",
          no: "101",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "barrer",
          verb: "sweep",
          no: "102",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "barrer",
          verb: "swept",
          no: "102",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "barrer",
          verb: "swept",
          no: "102",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "nadar",
          verb: "swim",
          no: "103",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "nadar",
          verb: "swam",
          no: "103",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "nadar",
          verb: "swum",
          no: "103",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "tomar",
          verb: "take",
          no: "104",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "tomar",
          verb: "took",
          no: "104",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "tomar",
          verb: "taken",
          no: "104",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "enseÃ±ar",
          verb: "teach",
          no: "105",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "enseÃ±ar",
          verb: "taught",
          no: "105",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "enseÃ±ar",
          verb: "taught",
          no: "105",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "romper",
          verb: "tear",
          no: "106",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "romper",
          verb: "tore",
          no: "106",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "romper",
          verb: "torn",
          no: "106",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "decir",
          verb: "tell",
          no: "107",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "decir",
          verb: "told",
          no: "107",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "decir",
          verb: "told",
          no: "107",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "pensar",
          verb: "think",
          no: "108",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "pensar",
          verb: "thought",
          no: "108",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "pensar",
          verb: "thought",
          no: "108",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "lanzar",
          verb: "throw",
          no: "109",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "lanzar",
          verb: "threw",
          no: "109",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "lanzar",
          verb: "thrown",
          no: "109",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "pisar",
          verb: "tread",
          no: "110",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "pisar",
          verb: "trode",
          no: "110",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "pisar",
          verb: "trodden",
          no: "110",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "despertarse",
          verb: "wake",
          no: "111",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "despertarse",
          verb: "woke",
          no: "111",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "despertarse",
          verb: "woken",
          no: "111",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "llevar puesto",
          verb: "wear",
          no: "112",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "llevar puesto",
          verb: "wore",
          no: "112",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "llevar puesto",
          verb: "worn",
          no: "112",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "tejer",
          verb: "weave",
          no: "113",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "tejer",
          verb: "wove",
          no: "113",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "tejer",
          verb: "woven",
          no: "113",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "llorar",
          verb: "weep",
          no: "114",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "llorar",
          verb: "wept",
          no: "114",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "llorar",
          verb: "wept",
          no: "114",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "ganar",
          verb: "win",
          no: "115",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "ganar",
          verb: "won",
          no: "115",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "ganar",
          verb: "won",
          no: "115",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "retorcer",
          verb: "wring",
          no: "116",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "retorcer",
          verb: "wrung",
          no: "116",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "retorcer",
          verb: "wrung",
          no: "116",
          tense: "pastparticipe",
          sentence: "",
        },
        {
          es: "escribir",
          verb: "write",
          no: "117",
          tense: "infinitive",
          sentence: "",
        },
        {
          es: "escribir",
          verb: "wrote",
          no: "117",
          tense: "pastsimple",
          sentence: "",
        },
        {
          es: "escribir",
          verb: "written",
          no: "117",
          tense: "pastparticipe",
          sentence: "",
        },
      ],
      verbs: [],
      voices: [],
      current: {},
      currentPos: 0,
      answer: "",
      showAnswer: false,
      showAnswerEs: false,
      showTense: false,
      showVerb: false,
      showEs: false,
      random: false,
			correct: false,
      showSound: true,
      utterThis: {},
      voice: "",
      synth: {},
    };
  },
  mounted() {
    this.init();
    this.verbs = JSON.parse(JSON.stringify(this.verbsAll));
    this.current = this.verbs[this.currentPos];
  },
  methods: {
    init() {
      this.populateVoiceList();
      this.voice = this.getVoice("Alex");
      console.log("this.voice", this.voice);
      this.synth = window.speechSynthesis;
    },
    playText(text, rate) {
      this.utterThis = new SpeechSynthesisUtterance(text);
      this.utterThis.voice = this.getVoice("Alex");
      this.utterThis.lang = "en-US";
      // this.utterThis.voiceURI = 'urn:moz-tts:osx:com.apple.speech.synthesis.voice.Alex';
      this.utterThis.pitch = 1;
      this.utterThis.rate = rate;
      if (this.showSound) {
        this.synth.speak(this.utterThis);
      }
    },
    getVoice(voiceName) {
      return this.voices.find((voice) => {
        return voice.name === voiceName;
      });
    },
    populateVoiceList() {
      var synth = window.speechSynthesis;
      this.voices = synth.getVoices();
    },
    next() {
      this.currentPos++;
      this.current = this.verbs[this.currentPos];
      this.playText(this.current.verb, 1);
    },
    prev() {
      this.currentPos--;
      this.current = this.verbs[this.currentPos];
      this.playText(this.current.verb, 1);
    },
    validate() {
      if (this.answer.toLowerCase() === this.current.verb.toLowerCase()) {
        this.$q.notify({
          message: this.current.verb, //+ " (" + this.current.tense + ")",
          caption: this.current.es,
          color: "green",
          position: "top-right",
          icon: "sentiment_satisfied",
        });
        this.currentPos++;
        this.current = this.verbs[this.currentPos];
        this.playText(this.current.verb, 1);
        this.answer = "";
        this.$refs.txtAnswer.focus();
        // this.showAnswer = false
      } else {
				if (this.correct && this.answer !== '' ) {
					this.$q.notify({
						 message: this.current.verb, //+ " (" + this.current.tense + ")",
          	caption: this.current.tense,
						color: "red",
						position: "top-right",
						icon: "sentiment_dissatisfied",
					});
					this.currentPos++;
					this.current = this.verbs[this.currentPos];
					this.playText(this.current.verb, 1);
					this.answer = "";
					this.$refs.txtAnswer.focus();
				} else {
					this.error();
				}
      }
    },
    error() {
			if (this.answer !== '' ) {
				this.$q.notify({
					message: "Incorrect",
					color: "red",
					position: "top-right",
					icon: "sentiment_dissatisfied",
				});
			}
      this.playText(this.current.verb, 1);
      this.$refs.txtAnswer.focus();
    },
    prompt() {
      var ctx = this;
      this.$q
        .dialog({
          // title: '',
          message: "Ingresa la posición",
          prompt: {
            model: ctx.currentPos,
            isValid: (val) => val.length > 0, // << here is the magic
            type: "number", // optional
          },
          cancel: true,
          persistent: true,
        })
        .onOk((data) => {
          this.currentPos = data;
          this.current = this.verbs[data];
          this.playText(this.current.verb, 1);
          // console.log('>>>> OK, received', data)
        });
    },
  },
  watch: {
    random: function (val) {
      if (val) {
        this.verbs = this.verbs.sort(() => Math.random() - 0.5);
      } else {
        this.currentPos = 0;
        this.verbs = [];
        this.verbs = JSON.parse(JSON.stringify(this.verbsAll));
        this.current = this.verbs[this.currentPos];
      }
    },
  },
});
</script>
