<template>
  <div>
    <div class="q-ma-md">
      <div class="row">
        <div class="col-12" >
        </div>
        <div class="col-12 hidden" align="center">
          <q-btn flat class="q-ma-sm" color="white" text-color="black" icon="arrow_back_ios"  @click="prev" v-show="currentPos > 0"/>
          {{currentPos}} / {{verbs.length}}
          <q-btn flat class="q-ma-sm" color="white" text-color="black" icon="arrow_forward_ios"  @click="next"/>
        </div>
      </div>
    </div>
    <div>
      <div >
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="right">
            <q-btn style="top: 40%;" flat class="q-ma-sm" color="white" text-color="black" icon="arrow_back_ios"  @click="prev" v-show="currentPos > 0"/>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4" align="center">
            {{currentPos}} / {{verbs.length}}
            <q-card class="my-card" style="width:250px;">
              <q-card-section align="center">

                
                  <q-img
                    v-show="showSound"
                    alt=""
                    src="~/assets/giphy.gif"
                    :ratio="16/9"
                  />
                  <!-- <div class="text-h3" v-show="showAnswer || showVerb">{{current}}</div>
                  <div  class="text-h5" v-show="showAnswer || showEs">{{current}}</div> -->
                  <div style="margin: 0px!important;" v-show="showAnswer || showTense" class="text-align-center text-simple">{{current}}</div>
                
              </q-card-section>

              <q-separator />

              <q-card-actions align="center">
                <div class="row">
                    <div class="col-12"  align="center">
                        <q-btn class="text-align-center" flat color="primary" @click="showAnswer = !showAnswer" icon="visibility" >
                        </q-btn>
                        <q-btn class="text-align-center" flat color="primary" @click="playText(current, 0.5)" icon="volume_down" >
                        </q-btn>
                        <q-btn class="text-align-center" flat color="primary" @click="playText(current, 1)" icon="volume_up" >
                        </q-btn>
                    </div>
                </div>
              </q-card-actions>
            </q-card>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="left">
            <q-btn style="top: 40%;" flat class="q-ma-sm" color="white" text-color="black" icon="arrow_forward_ios"  @click="next"/>
          </div>
        </div>
        <div class="row">
          <div class="col-12" align="center">
            <q-input 
              rounded outlined 
              bg-color="blue-1"
              class="q-ma-md"  type="text" label="Answer"
              ref="txtAnswer"
              v-model="answer" 
              v-on:keyup.enter="validate"
              autofocus
              style="text-align:center!important;"
            />
            <q-btn class="q-ma-sm" color="primary" label="Check"  @click="validate"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sents } from 'src/boot/sentenses'
import { defineComponent } from 'vue';
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'PageVerbs',
  data () {
    return {
      verbsAll: sents,
      verbs: [],
      voices: [],
      current: {},
      currentPos: 0,
      answer: '',
      showAnswer: false,
      showAnswerEs: false,
      showTense: false,
      showVerb: false,
      showEs: false,
      random: false,
      showSound: true,
      utterThis: {},
      voice: '',
      synth: {}
    }
  },
  mounted () {
    this.init()
    this.verbs = JSON.parse(JSON.stringify(this.verbsAll))
    this.current = this.verbs[this.currentPos]
  },
  methods: {
    init () {
      this.populateVoiceList();
      this.voice = this.getVoice('Alex')
      console.log('this.voice', this.voice)
      this.synth = window.speechSynthesis;
    },
    playText (text, rate) {
      console.log('text', text)
      this.utterThis = new SpeechSynthesisUtterance(text)
      this.utterThis.voice = this.getVoice('Alex')
      this.utterThis.lang = 'en-US'
      // this.utterThis.voiceURI = 'urn:moz-tts:osx:com.apple.speech.synthesis.voice.Alex';
      this.utterThis.pitch = 1 
      this.utterThis.rate = rate
      if (this.showSound) {
        this.synth.speak(this.utterThis)
      }
    },
    getVoice (voiceName) {
      return this.voices.find(voice => {
        return voice.name === voiceName
      })
    },
    populateVoiceList() {
      var synth = window.speechSynthesis
      this.voices = synth.getVoices()
    },
    next () {
      this.currentPos ++
      this.current = this.verbs[this.currentPos]
      this.playText(this.current, 1)
    },
    prev () {
      this.currentPos --
      this.current = this.verbs[this.currentPos]
      this.playText(this.current, 1)
    },
    validate () {
      if (this.answer.toLowerCase() === this.current.toLowerCase()){
        this.currentPos ++
        this.current = this.verbs[this.currentPos]
        this.playText(this.current, 1)
        this.answer = ''
        this.$refs.txtAnswer.focus()
        this.$q.notify({
            message: 'Correct',
            color: 'green',
            position: 'bottom-right',
            icon: 'sentiment_satisfied'
        })
        // this.showAnswer = false
      } else {
        this.error()
      }
    },
    error () {
      this.$q.notify({
        message: 'Incorrect',
        color: 'red',
        position: 'bottom-right',
        icon: 'sentiment_dissatisfied'
      })
      this.playText(this.current, 1)
      this.$refs.txtAnswer.focus()
    }
  },
  watch: {
    random: function (val) {
      if (val) {
          this.verbs = this.verbs.sort(() => Math.random() - 0.5)
      } else {
          this.currentPos = 0
          this.verbs = []
          this.verbs = JSON.parse(JSON.stringify(this.verbsAll))
          this.current = this.verbs[this.currentPos]
      }
    }
  }
})
</script>
