<template>
  <div>
    <div class="q-ma-md">
      <div class="row">
        <div class="col-12">
          <q-toggle label="Tense" v-model="showTense" color="green" />

          <q-toggle label="Verb" v-model="showVerb" color="green" />

          <q-toggle label="Spanish" v-model="showEs" color="green" />

          <q-toggle label="Sound" v-model="showSound" color="green" />

          <q-toggle label="Random" v-model="random" color="green" />

					<q-toggle label="Only correct" v-model="correct" color="green" />
        </div>
        <div class="col-12 hidden" align="center">
          <q-btn
            flat
            class="q-ma-sm"
            color="white"
            text-color="black"
            icon="arrow_back_ios"
            @click="prev"
            v-show="currentPos > 0"
          />
          <p @click="prompt">{{ currentPos }} / {{ verbs.length }}</p>
          <q-btn
            flat
            class="q-ma-sm"
            color="white"
            text-color="black"
            icon="arrow_forward_ios"
            @click="next"
          />
        </div>
      </div>
    </div>
    <div v-touch-swipe.mouse="handleSwipe">
      <div>
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="right">
            <q-btn
              style="top: 40%"
              flat
              class="q-ma-sm"
              color="white"
              text-color="black"
              icon="arrow_back_ios"
              @click="prev"
              v-show="currentPos > 0"
            />
          </div>
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4" align="center">
            <p @click="prompt">{{ currentPos }} / {{ verbs.length }}</p>
            <q-card class="my-card" style="width: 250px">
              <q-card-section align="center">
                <q-img
                  v-show="showSound"
                  alt=""
                  src="~/assets/giphy.gif"
                  :ratio="16 / 9"
                />
                <div class="text-h3" v-show="showAnswer || showVerb">
                </div>
                <div class="text-h5" v-show="showAnswer || showEs">
                </div>
                <div
                  style="margin: 0px !important"
                  v-show="showAnswer || showTense"
                  class="text-align-center text-simple"
                >
                  {{ current }}
                </div>
              </q-card-section>

              <q-separator />

              <q-card-actions align="center">
                <div class="row">
                  <div class="col-12" align="center">
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="showAnswer = !showAnswer"
                      icon="visibility"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current, 1)"
                      icon="record_voice_over"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current, 0.5)"
                      icon="volume_down"
                    >
                    </q-btn>
                    <q-btn
                      class="text-align-center"
                      flat
                      color="primary"
                      @click="playText(current, 1)"
                      icon="volume_up"
                    >
                    </q-btn>
                  </div>
                </div>
              </q-card-actions>
            </q-card>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" align="left">
            <q-btn
              style="top: 40%"
              flat
              class="q-ma-sm"
              color="white"
              text-color="black"
              icon="arrow_forward_ios"
              @click="next"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12" align="center">
            <q-input
              rounded
              outlined
              bg-color="blue-1"
              class="q-ma-md"
              type="text"
              label="Answer"
              ref="txtAnswer"
              v-model="answer"
              v-on:keyup.enter="validate"
              autofocus
              style="text-align: center !important"
            />
            <q-btn
              class="q-ma-sm"
              color="primary"
              label="Check"
              @click="validate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sents } from 'src/boot/sentenses'
import { defineComponent } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "PageVerbs",
  data() {
    return {
      verbsAll: sents,
      verbs: [],
      voices: [],
      current: {},
      currentPos: 0,
      answer: "",
      showAnswer: false,
      showAnswerEs: false,
      showTense: false,
      showVerb: false,
      showEs: false,
      random: false,
			correct: false,
      showSound: true,
      utterThis: {},
      voice: "",
      synth: {},
    };
  },
  mounted() {
    this.init();
    this.verbs = JSON.parse(JSON.stringify(this.verbsAll));
    this.current = this.verbs[this.currentPos];
  },
  methods: {
    init() {
      this.populateVoiceList();
      this.voice = this.getVoice("Alex");
      console.log("this.voice", this.voice);
      this.synth = window.speechSynthesis;
    },
    playText(text, rate) {
      this.utterThis = new SpeechSynthesisUtterance(text);
      this.utterThis.voice = this.getVoice("Alex");
      this.utterThis.lang = "en-US";
      // this.utterThis.voiceURI = 'urn:moz-tts:osx:com.apple.speech.synthesis.voice.Alex';
      this.utterThis.pitch = 1;
      this.utterThis.rate = rate;
      if (this.showSound) {
        this.synth.speak(this.utterThis);
      }
    },
    getVoice(voiceName) {
      return this.voices.find((voice) => {
        return voice.name === voiceName;
      });
    },
    populateVoiceList() {
      var synth = window.speechSynthesis;
      this.voices = synth.getVoices();
    },
    next() {
      this.currentPos++;
      this.current = this.verbs[this.currentPos];
      this.playText(this.current, 1);
    },
    prev() {
      this.currentPos--;
      this.current = this.verbs[this.currentPos];
      this.playText(this.current, 1);
    },
    validate() {
      if (this.answer.toLowerCase() === this.current.toLowerCase()) {
        this.$q.notify({
          message: this.current, //+ " (" + this.current + ")",
          caption: this.current,
          color: "green",
          position: "top-right",
          icon: "sentiment_satisfied",
        });
        this.currentPos++;
        this.current = this.verbs[this.currentPos];
        this.playText(this.current, 1);
        this.answer = "";
        this.$refs.txtAnswer.focus();
        // this.showAnswer = false
      } else {
				if (this.correct && this.answer !== '' ) {
					this.$q.notify({
						 message: this.current, //+ " (" + this.current + ")",
          	caption: this.current,
						color: "red",
						position: "top-right",
						icon: "sentiment_dissatisfied",
					});
					this.currentPos++;
					this.current = this.verbs[this.currentPos];
					this.playText(this.current, 1);
					this.answer = "";
					this.$refs.txtAnswer.focus();
				} else {
					this.error();
				}
      }
    },
    error() {
			if (this.answer !== '' ) {
				this.$q.notify({
					message: "Incorrect",
					color: "red",
					position: "top-right",
					icon: "sentiment_dissatisfied",
				});
			}
      this.playText(this.current, 1);
      this.$refs.txtAnswer.focus();
    },
    prompt() {
      var ctx = this;
      this.$q
        .dialog({
          // title: '',
          message: "Ingresa la posición",
          prompt: {
            model: ctx.currentPos,
            isValid: (val) => val.length > 0, // << here is the magic
            type: "number", // optional
          },
          cancel: true,
          persistent: true,
        })
        .onOk((data) => {
          this.currentPos = data;
          this.current = this.verbs[data];
          this.playText(this.current, 1);
          // console.log('>>>> OK, received', data)
        });
    },
    handleSwipe ({ evt, ...info }) {
      this.info = info

      // native Javascript event
      console.log(info.direction)
      if (info.direction === 'left') {
        this.next()
      } else if (info.direction === 'right') {
        this.prev()
      } 
      else if (info.direction === 'up') {
        this.playText(this.current, 1)
      }
      console.log(evt)
    }
  },
  watch: {
    random: function (val) {
      if (val) {
        this.verbs = this.verbs.sort(() => Math.random() - 0.5);
      } else {
        this.currentPos = 0;
        this.verbs = [];
        this.verbs = JSON.parse(JSON.stringify(this.verbsAll));
        this.current = this.verbs[this.currentPos];
      }
    },
  },
});
</script>
